@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,900;1,300;1,500;1,900&family=Roboto:wght@100;300;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ecdb54 d;
  background: linear-gradient(0deg, #ecdb54 0%, black 100%);
}

h1, h2, h3 p {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  
          box-shadow: rgba(0, 0, 0, 0.3) 0.1rem 1.2rem 1rem;
  padding: 0.8rem 0;
  z-index: 1;
}

.header .header--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header .header--logo {
  width: 10rem;
  height: auto;
}

.header .header--logo img {
  width: 75%;
  height: auto;
}

.header .header--navbar--menu {
  
  display: flex; 
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.header .header--navbar--menu li a {
  color: #EDCB54;
  font-size: 1.2rem;
  padding: 0.3rem;
  text-decoration: none;
  
  transition: all 1s;
}

.header .header--navbar--menu li a:hover {
  color: #EDCB54;
  border-bottom: 0.1rem solid  #EDCB54;
}

/*------FIN Header------*/
.main--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main--container .section--principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0.5rem #000;
  position: relative;
  top: 10rem;
  margin-bottom: 0.5rem;
}

/*------FOOTER------*/
.footer {
  background-color: #000;
  padding: 70px 0;
}

.footer .footer--container {
  max-width: 1170px;
  background-color: #24262b;
  margin: auto;
}

.footer .footer--container .row {
  
  display: flex;
  
  flex-wrap: wrap;
}

.footer .footer--container .footer--col {
  width: 25%;
  padding: 0 15px;
}

.footer .footer--container .footer--col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  height: 2px;
}

.footer .footer--container .footer--col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  
  transition: all 0.5s ease;
}

.footer .footer--container .footer--col .social-links a a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*------FIN FOOTER------*/
/*--------FORMULARIO--------*/
form {
  width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px; 
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

#boton {
  background: #181817;
  color: #fff;
  padding: 20px;
}

#boton #boton:hover {
  cursor: pointer;
}

/*-----FIN MAIN-----*/
.main--container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section--principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100%;
}

.section--principal {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0.5rem #000;
  position: relative;
  top: 10rem;
  bottom: 1.5rem;
}

.grid--container {
  margin: 80px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; 
  align-items: center;
}

.grid--container article {
  background: #fff;
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  width: 250px;
  transition: transform .3s;
  
}

.grid--container article:hover {
  transform: translate(5px);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid--container article img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text {
  padding: 0 20px 20px;
}

.text h3 {
  text-transform: uppercase;
}

.text button {
  background-color: #181817;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=estilos.css.map */