@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,900;1,300;1,500;1,900&family=Roboto:wght@100;300;500;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
   
}


body{
    
font-family: 'Roboto', sans-serif;
background: rgb(236,219,84);
background: linear-gradient(0deg, rgba(236,219,84,1) 0%, rgba(0,0,0,1) 100%);
}

h1, h2, h3 p {text-align: center;}

.container{
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;

}

.header{
    background-color: #EDCB54;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0.1rem 1.2rem 1rem ;
    padding: 0.8rem 0;
    z-index: 1;
}

.header--container{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
.header--logo{
    
    width: 10rem;
    height: auto;
}

.header--logo img{

    width: 75%;
    height: auto;
}

.header--navbar--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.header--navbar--menu li a{
    color: #181817;
    font-size: 1.2rem;
    padding: 0.3rem;
    text-decoration: none;
    transition: all 1s;
}

.header--navbar--menu li a:hover{

    color:  #4ba303;
    border-bottom: 0.1rem solid  #0b3c4b;
    
}

/*------FIN Header------*/

.main--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main--container .section--principal{ 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
    width: 100%;
}

.main--container .section--principal{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
    position: relative;
    top:10rem
}

/*------FOOTER------*/

.footer{
    background-color: #24262b;
    padding: 70px 0;

}
.footer--container{

    max-width: 1170px;
    background-color: #24262b;
    margin: auto;
}

.row{

    display: flex;
    flex-wrap: wrap;
}
.footer--col{
    width: 25%;
    padding: 0 15px;

}
.footer--col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom:30px ;
    font-weight: 500;
    position: relative;
    height: 2px;
   
}

.footer--col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height:40px ;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer--col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}



/*------FIN FOOTER------*/